[Desktop Entry]
Name=BrachioGraph Image Converter
Comment=Convert images to JSON vector format for a BrachioGraph pen plotter
Exec=brachiograph-converter
Icon=org.andypiper.brachiograph-converter
Type=Application
Categories=Graphics;Utility;
Keywords=brachiograph;drawing;robot;image;convert;plotter;pen;vector;
StartupNotify=true
StartupWMClass=org.andypiper.brachiograph-converter
